<!doctype html>
<html lang = "en" ng-app= "ride_form">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Angular Material style sheet -->
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.8/angular-material.min.css">

<link rel="stylesheet" href="material-start/styles/main.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.1.0-rc2/angular-material.min.css">
<link rel = "stylesheet"
   href = "https://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.css">
<script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js"></script>
<script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.min.js"></script>
<script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-messages.min.js"></script>
<script src = "https://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.js"></script>
<script src="https://apis.google.com/js/client:platform.js?onload=start" async defer>
</script>

<!--- google login --------->

<link href="/node_modules/angular-material-time-picker/dist/md-time-picker.css" rel="stylesheet" type="text/css"/>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
<script src="form.js"></script>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>

<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDtZptno5dSTfvD-php6kPSBRCXhzDgHa8&callback=initMap"></script>
<script src="/node_modules/angular/angular.js"></script>
<!-- <script src="/node_modules/angular-material-time-picker/index.js"></script> -->

<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>

</head>


<body  layout="column" ng-cloak class="md-inline-form">
<md-sidenav class="md-sidenav-left" md-component-id="left" md-whiteframe="4">
          <div ng-controller="profile_ctrl" ng-cloak>
          <md-toolbar class="md-theme-indigo" style="min-height:20vh">
            <div style="height:20px;"></div>
            <div layout="row" layout-align="center center" style="margin-bottom: 5px;">
            <img  style="border-radius: 50%;border-style: solid;border-color: #ffffff;"  src="https://lh3.googleusercontent.com/-XdUIqdMkCWA/AAAAAAAAAAI/AAAAAAAAAAA/4252rscbv5M/photo.jpg?sz=100"/>
           </div>
           <div layout="row" layout-align="center center">
             <span ng-bind="user_info.user_name"></span>
           </div>
             <div layout="row" layout-align="center center">
               <div layout="row" layout-align="center center">
               <div layout="row" >
                 <md-icon i class="material-icons">star_rate</md-icon>
                  <small><span ng-bind="user_info.rating"></span></small>
               </div>
               <div style="width:50px;"></div>
               <div layout="row" >
                 <md-icon i class="material-icons">directions_car</md-icon>
                 <small><span ng-bind="user_info.ride_count"></span></small>
               </div>
             </div>

             </div>
          </md-toolbar>
        </div>
          <md-content layout-margin="">
              <md-input-container class="md-block" style="margin-top:10px;" flex-gt-sm>
                <label>Description</label>
               <textarea ng-model="" md-maxlength="1000" rows="10" md-select-on-focus></textarea>
              </md-input-container>
          </md-content>

        </md-sidenav>
      </div>

<md-toolbar  class="md-hue-2" ng-controller="toolbar_ctrl">
  <div class="md-toolbar-tools">
    <md-button  class="md-icon-button" ng-click="toggleLeft()">
      <md-icon i class="material-icons">menu</md-icon>
    </md-button>

    <h2 flex="" md-truncate="">SURide</h2>
    <span flex></span>
      <md-button ng-href="/home">
        <md-icon>directions_car</md-icon>
          Check Rides
      </md-button>
        <!-- Search button (initiates search) -->
        <md-button id="search-button" ng-click="initiateSearch()" ng-hide="showSearchBar()">
          <md-icon>search</md-icon>
          <span>Search</span>
        </md-button>

        <div ng-show="showSearchBar()" class="md-toolbar-tools search-bar">

        <md-button class="md-icon-button" ng-click="submit()">
          <md-icon>search</md-icon>
        </md-button>

        <!-- Input Text -->
        <md-input-container flex>
          <!-- <label for="search">Search</label> -->
          <input id="search-input" type="text" ng-model="search" ng-change="submit()"/>
        </md-input-container>

        <md-button class="md-icon-button" ng-click="endSearch()">
          <md-icon>close</md-icon>
        </md-button>
      </div>

  </div>
</md-toolbar>
  <md-content layout-padding ng-controller = "form_ctrl">
    <form name="rideForm" >
      <div layout-gt-sm="row">

        <md-input-container class="md-block" flex-gt-sm>
          <label>Destination</label>
          <md-select ng-model="form.dest" ng-change="destSelect(form.dest)">
            <md-option ng-repeat="dest in destinations" value="{{dest.abbrev}}">
              {{dest.abbrev}}
            </md-option>
          </md-select>
        </md-input-container>
        <md-input-container class="md-block" flex-gt-sm>
          <label>Seats Available In The Ride</label>
          <input required type="number" step="any" name="seats" ng-model="form.seats" min="1"
         max="4" />
        </md-input-container>
        <md-input-container class="md-block" flex-gt-sm>
          <label>Enter Time of Departure</label>
            <input ng-model="form.deptime">
        </md-input-container>
      </div>
         <div ng-messages="rideForm.available_seats.$error" multiple md-auto-hide="false"></div>
      <div layout-gt-sm="row">
        <md-input-container class="md-block" flex-gt-sm>
          <label>Description</label>
          <textarea ng-model="form.desc" md-maxlength="500" rows="5" md-select-on-focus></textarea>
        </md-input-container>
      </div>
<div style="min-height:400px;" id="map" flex></div>
  </form>

  <div layout="row" layout-align="center center">
    <md-button ng-click="post_form()" class="md-primary md-raised" >
           POST RIDE
       </md-button>
    </div>

</md-content>

<script type="text/javascript">
var Kadikoy = {lat: 40.9811277, lng: 29.0280337};

map = new google.maps.Map(document.getElementById('map'), {
  zoom: 14,
  center: Kadikoy,
  mapTypeId: 'terrain'
});
</script>

</body>

</html>
