<!doctype html>
<html lang = "en">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Angular Material style sheet -->


<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.8/angular-material.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.1.0-rc2/angular-material.min.css">
<script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-animate.min.js"></script>
<script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-aria.min.js"></script>
<script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-messages.min.js"></script>
<script src = "https://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.js"></script>
<script src="https://apis.google.com/js/client:platform.js?onload=start" async defer></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-sanitize.js"></script>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.8/angular-material.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>



<script src="app.js"></script>


</head>

<style>
a {
  color: black;
  text-decoration: none; /* no underline */
}

  .toolbardemoBasicUsage md-toolbar .md-button.md-icon-button .favorite-icon {
    fill: #DE3641; }

  .toolbardemoBasicUsage md-toolbar md-toolbar-filler {
    background-color: #e0e0e0; }
    .toolbardemoBasicUsage md-toolbar md-toolbar-filler #filler-icon {
      fill: #4C9EF1; }

.search-bar * { color: white !important; }
.search-bar input { border-bottom-color: white; }
.md-errors-spacer { display:none; }
</style>
<body ng-app="app" ng-cloak>

      <md-sidenav class="md-sidenav-left" md-component-id="left" md-whiteframe="4">
          <div ng-controller="profile_ctrl" ng-cloak>
          <md-toolbar class="md-theme-indigo" style="min-height:20vh">
            <div style="height:20px;"></div>
            <div layout="row" layout-align="center center" style="margin-bottom: 5px;">
            <img  style="border-radius: 50%;border-style: solid;border-color: #ffffff;"  src="https://lh3.googleusercontent.com/-XdUIqdMkCWA/AAAAAAAAAAI/AAAAAAAAAAA/4252rscbv5M/photo.jpg?sz=100"/>
           </div>
           <div layout="row" layout-align="center center">
             <span ng-bind="user_info.user_name"></span>
           </div>
             <div layout="row" layout-align="center center">
               <div layout="row" layout-align="center center">
               <div layout="row" >
                 <md-icon i class="material-icons">star_rate</md-icon>
                  <small><span ng-bind="user_info.rating"></span></small>
               </div>
               <div style="width:50px;"></div>
               <div layout="row" >
                 <md-icon i class="material-icons">directions_car</md-icon>
                 <small><span ng-bind="user_info.ride_count"></span></small>
               </div>
             </div>

             </div>
          </md-toolbar>
        </div>
          <md-content layout-margin="">
              <md-input-container class="md-block" style="margin-top:10px;" flex-gt-sm>
                <label>Description</label>
                <textarea ng-model="" md-maxlength="1000" rows="10" md-select-on-focus></textarea>
              </md-input-container>
          <div ng-controller="profile_ctrl" style="justify-content: right;" ng-click="logout()">   <md-button>Logout</md-button></div>
        </md-content>

        </md-sidenav>
      </div>

<md-toolbar class="md-hue-2" ng-controller="toolbar_ctrl">
  <div class="md-toolbar-tools">
    <md-button  class="md-icon-button" ng-click="toggleLeft()">
      <md-icon i class="material-icons">menu</md-icon>
    </md-button>

    <h2 flex="" md-truncate="">SURide</h2>
    <span flex></span>
    <md-switch ng-model="myrides" ng-change="toggleMyRides()" aria-label="My rides">
    <small>My rides</small>
  </md-switch>

      <md-button ng-href="/form">
        <md-icon>directions_car</md-icon>
          Post ride
      </md-button>
        <!-- Search button (initiates search) -->
        <md-button id="search-button" ng-click="initiateSearch()" ng-hide="showSearchBar()">
          <md-icon>search</md-icon>
          <span>Search</span>
        </md-button>

        <div ng-show="showSearchBar()" class="md-toolbar-tools search-bar">

        <md-button class="md-icon-button" ng-click="submit()">
          <md-icon>search</md-icon>
        </md-button>

        <!-- Input Text -->
        <md-input-container flex>
          <!-- <label for="search">Search</label> -->
          <input id="search-input" type="text" ng-model="search" ng-change="submit()"/>
        </md-input-container>

        <md-button class="md-icon-button" ng-click="endSearch()">
          <md-icon>close</md-icon>
        </md-button>
      </div>

  </div>
</md-toolbar>


<div ng-controller="card_ctrl" ng-cloak layout="row">
  <div style="display: flex;flex: 0.12;"></div>
 <md-grid-list style="margin-top:20px;" flex
  md-cols-sm="1"
  md-cols-md="2"
  md-cols-gt-md="3"
  md-row-height-sm="100%"
  md-row-height="630px"
  md-gutter="15px">
  <md-grid-tile ng-repeat="i in rides | filter:search">
      <md-card layout-fill>
        <a href="" ng-click="showDetails(i._id)">
        <div>
          <md-toolbar class="md-hue-2">
          <md-card-header>

            <md-button class="md-icon-button" aria-label="Profile" ng-click="showAdvanced($event)">
            <md-icon i class="material-icons" style="font-size: 2em">account_circle</md-icon>
          </md-button>


          <md-card-header-text>
            <div layout-sm="row">
            <div flex class="md-headline">
            <span ng-bind="i.dest"></span>
            <md-icon i class="material-icons">event_seat</md-icon>
            <span ng-bind="i.seats"></span>
            <md-icon i class="material-icons">access_time</md-icon>
            <span ng-bind="i.deptime"></span>
            </div>
            <div flex>
            <span class="md-card-content" style="font-size: 1em"><span ng-bind="i.name"></span></span>
            </div>
            </div>
          </md-card-header-text>

        </md-card-header>
        </md-toolbar>
         <md-card-content class="md-card-content">
           <p style="min-height:36px;word-wrap: break-word;"><span ng-bind="i.desc" ></span></p>
           <div class="md-media-lg card-media">
             <img ng-src="{{i.mapurl}}"/>
           </div>
        </md-card-content>

        <md-card-actions layout="row" layout-align="end center" class="layout-align-end-center layout-row">
          <md-button class="md-fab md-primary" aria-label="Comment">
                <md-icon i class="material-icons">check_circle</md-icon>
          </md-button>
        </md-card-actions>
      </div>
    </a>
      </md-card>
        </md-grid-tile>
      </md-grid-list>

      <div style="display: flex;flex: 0.12;"></div>
</div>


</body>




</html>
