<!doctype html>
<html lang = "en">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Angular Material style sheet -->
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.8/angular-material.min.css">

<link rel="stylesheet" href="material-start/styles/main.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.1.0-rc2/angular-material.min.css">
<link rel = "stylesheet"
   href = "https://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.css">
<script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js"></script>
<script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.min.js"></script>
<script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-messages.min.js"></script>
<script src = "https://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.js"></script>
<script src="https://apis.google.com/js/client:platform.js?onload=start" async defer></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-sanitize.js"></script>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">




<!----------- google login --------->
<script src="trial.js"></script>
<script src="/node_modules/angular/angular.js"></script>
<script src="/node_modules/angular-messages/angular-messages.js"></script>
<script src="/node_modules/angular-cookies.js"></script>

</head>


<body>
 <md-grid-list ng-app="card" layout-fill flex
  md-cols-sm="1"
  md-cols-md="2"
  md-cols-gt-md="4"
  md-row-height-sm="100%"
  md-row-height="640px"
  md-gutter="8px">
  <md-grid-tile ng-repeat="i in [1,2,3,4,5,6,7,8,9] track by $index">
      <md-card layout-fill layout-padding>
        <div ng-controller="card_ctrl" ng-cloak>
          <md-card-header>

            <md-button class="md-icon-button" aria-label="Profile" ng-click="show_profile($event)">
            <md-icon i class="material-icons">account_circle</md-icon>
          </md-button>


          <md-card-header-text>
            <div layout-sm="row">
            <div flex class="md-headline">
            <span >{{title()}}</span>
            <md-icon i class="material-icons">event_seat</md-icon>
            {{get_seats()}}
            <md-icon i class="material-icons">access_time</md-icon>
            {{get_time()}}
            </div>
            <div flex>
            <span class="md-title">{{rider()}}</span>
            </div>
            </div>
          </md-card-header-text>
         </md-card-header>
         <md-card-content class="md-headline">
           <p>{{get_description()}}</p>
           <div class="md-media-lg card-media">
             <img ng-src="{{maps_img.img_ref}}"/>
           </div>
        </md-card-content>

        <md-card-actions layout="row" layout-align="end center" class="layout-align-end-center layout-row">
          <md-button class="md-fab md-primary" aria-label="Comment">
                <md-icon i class="material-icons">chat</md-icon>
          </md-button>
        </md-card-actions>
      </div>
      </md-card>
        </md-grid-tile>
      </md-grid-list>
</body>




</html>
